
table {
  border-spacing: 250px;
  background: #E91E63;
  position:relative;
}
tr{
padding:20px 20px 20px 20px;
  position:absolute; 
}
td {
  background: #F00;
  padding: 100px;
  background: #FCE4EC;
  margin:50px;
}
